<div class="estudante-form-container">

  <h2 class="titulo-pagina">
    👨‍🎓 {{ formGroup.value.id ? 'Editar Estudante' : 'Cadastrar Estudante' }}
  </h2>

  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" novalidate>

    <!-- Nome -->
    <div class="mb-4">
      <label for="nome" class="form-label">Nome</label>

      <input
        id="nome"
        type="text"
        class="form-control input-dark"
        formControlName="nome"
        [ngClass]="{
          'is-invalid':
          formGroup.get('nome')?.invalid &&
          formGroup.get('nome')?.touched
        }"
      >

      <div class="invalid-feedback">
        O nome é obrigatório.
      </div>
    </div>

    <!-- EMAIL E TELEFONE -->
    <div class="row mb-4">

      <div class="col-md-6">
        <label for="email" class="form-label">E-mail</label>

        <input
          id="email"
          type="email"
          class="form-control input-dark"
          formControlName="email"
          [ngClass]="{
            'is-invalid':
            formGroup.get('email')?.invalid &&
            formGroup.get('email')?.touched
          }"
        >

        <div class="invalid-feedback">
          Insira um e-mail válido.
        </div>
      </div>

      <div class="col-md-6">
        <label for="telefone" class="form-label">Telefone</label>

        <input
          id="telefone"
          type="text"
          class="form-control input-dark"
          formControlName="telefone"
          [ngClass]="{
            'is-invalid':
            formGroup.get('telefone')?.invalid &&
            formGroup.get('telefone')?.touched
          }"
        >

        <div class="invalid-feedback">
          Insira um telefone válido.
        </div>
      </div>

    </div>

    <!-- CURSO E MATRÍCULA -->
    <div class="row mb-4">

      <div class="col-md-6">

        <label for="curso" class="form-label">
          Curso
        </label>

        <select
          id="curso"
          class="form-select input-dark"
          formControlName="curso"
          [ngClass]="{
            'is-invalid':
            formGroup.get('curso')?.invalid &&
            formGroup.get('curso')?.touched
          }"
        >

          <option [ngValue]="null" disabled>
            Selecione o Curso
          </option>

          <option value="Engenharia de Computação">
            Engenharia de Computação
          </option>

          <option value="Engenharia Metalúrgica">
            Engenharia Metalúrgica
          </option>

          <option value="Arquitetura e Urbanismo">
            Arquitetura e Urbanismo
          </option>

        </select>

        <div class="invalid-feedback">
          O curso é obrigatório.
        </div>

      </div>

      <div class="col-md-6">

        <label for="matricula" class="form-label">
          Matrícula
        </label>

        <input
          id="matricula"
          type="text"
          class="form-control input-dark"
          formControlName="matricula"
          [ngClass]="{
            'is-invalid':
            formGroup.get('matricula')?.invalid &&
            formGroup.get('matricula')?.touched
          }"
        >

        <div class="invalid-feedback">
          A matrícula é obrigatória.
        </div>

      </div>

    </div>

    <!-- BOTÕES -->
    <div class="d-flex justify-content-between mt-4">

      <a
        routerLink="/estudantes"
        class="btn-cancelar"
      >
        Cancelar
      </a>

      <button
        type="submit"
        class="btn-salvar"
        [disabled]="formGroup.invalid"
      >

        {{
          formGroup.value.id
          ? 'Atualizar'
          : 'Cadastrar'
        }}

      </button>

    </div>

  </form>

</div>