<div class="home-container">

  <!-- HERO -->
  <section class="hero">

    <div class="hero-content">

      <h1>Bem-vindo(a) ao PETIT</h1>

      <p>
        Sistema de gerenciamento de livros,
        empréstimos, estudantes e petianos.
      </p>

    </div>

  </section>

  <!-- FUNCIONALIDADES -->
  <section class="funcionalidades">

    <a
      routerLink="/livros"
      class="func-card"
    >

      <div class="func-icon">
       <i class="bi bi-book-fill"></i>
      </div>

      <h3>Livros</h3>

      <p>
        Gerencie o acervo da biblioteca.
      </p>

    </a>

    <a
      routerLink="/emprestimos"
      class="func-card"
    >

      <div class="func-icon">
        <i class="bi bi-journal-bookmark-fill"></i>
      </div>

      <h3>Empréstimos</h3>

      <p>
        Controle empréstimos e devoluções.
      </p>

    </a>

    <a
      routerLink="/estudantes"
      class="func-card"
    >

      <div class="func-icon">
        <i class="bi bi-mortarboard-fill"></i>
      </div>

      <h3>Estudantes</h3>

      <p>
        Cadastro completo de estudantes.
      </p>

    </a>

    <a
      routerLink="/petianos"
      class="func-card"
    >

      <div class="func-icon">
        <i class="bi bi-person-workspace"></i>
      </div>

      <h3>Petianos</h3>

      <p>
        Gerencie os integrantes do PETIT.
      </p>

    </a>

  </section>

</div>